/* Global styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Header styles */
header {
  background-color: #f8f8f8;
  padding: 20px;
}
header p {
  color: blueviolet;
  font-size: medium;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav li {
  margin: 0 10px;
}

nav a {
  font-weight: bold;
}

h1 {
  font-size: 3rem;
  margin: 20px auto;
}

/* Main styles */
main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  justify-content: center;
}

section {
  margin-bottom: 40px;
}

h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

button {
  background-color: #ff5f5f;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #ff8888;
}

ul li {
  margin-bottom: 20px;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

p {
  margin-bottom: 20px;
}

/* Footer styles */
footer {
  background-color: #f8f8f8;
  padding: 20px;
  text-align: center;
}

footer p {
  font-size: 0.8rem;
}
/* navigation bar */
nav {
  background-color: #ff5f5f;
  color: #fff;
  height: 60px;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 0 20px;
  list-style: none;
}

nav a {
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: #d5cece;
}

/* About us */

/* Team */
#team {
  background-color: #fff;
  padding: 50px;
  text-align: center;
}

.member {
  display: inline-block;
  margin: 0 20px;
  text-align: center;
}

.member img {
  border-radius: 20%;
  height: 200px;
  width: 200px;
}

.member h3 {
  font-size: 1.5em;
  margin: 10px 0 0;
}

.member p {
  color: #666;
  margin: 5px 0 0;
}

/* Testimonials */
#Feedbacks {
  background-color: #f2f2f2;
  padding: 50px;
  text-align: center;
}

.testimonial {
  background-color: #fff;
  border-radius: 5px;
  display: inline-block;
  margin: 0 20px;
  padding: 20px;
  text-align: center;
  width: 350px;
}

.testimonial img {
  border-radius: 50%;
  height: 75px;
  margin-bottom: 20px;
  width: 75px;
}

.testimonial p {
  color: #666;
  font-style: italic;
  margin: 10px 0;
}

.testimonial h3 {
  font-size: 1.2em;
  margin: 0;
}

.testimonial p:last-child {
  margin: 0;
}

/* Images */
ul li img {
  margin-bottom: 10px;
  height: 40vh;
  width: 30vw;
  margin-bottom: 10px;
}
/* articles */
ul li h3 a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

ul li h3 a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
